# Java
.idea/
*.iml
*.iws
out/
target/
*.class
*.jar
*.war
*.ear
*.log
*.log.*
*.bak
*.swp
*.tmp
*.tmp.*
*.old
*.DS_Store

# C#
bin/
obj/
Debug/
Release/
packages/
.vs/
*.suo

*.dll
*.exe
*.pdb
*.user
*.suo
*.cache
*.log
*.vspscc

*.csproj.user
*.sln.docstates

[Tt]humbs.db
*.DS_Store
*.tmp
*.swp
*~.nupkg


# ada

*.ali
*.o
*.ali_dbg
*.o_dbg
*.ali_g
*.o_g
*.so
*.a
*.exe
*.obj
*.pdb
*.lib
*.dll
